<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Vue</title>
</head>

<body>
  <div id="app">
    {{ message }}
  </div>
  <div id="app-2">
    <span v-bind:title="message">
      Mueva el mouse sobre mí durante unos segundos
      para ver mi título enlazado dinámicamente.
    </span>
  </div>
  <div id="app-3">
    <button onclick="app3.seen=!app3.seen">show hide</button>
    <span v-if="seen">Ahora me ves</span>
    <br>
  </div>
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
    <input type="text" id="myText" >
    <button onclick="app4.todos.push ({text: myText.value})">Add</button>
  </div>
<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Mensaje invertido</button>
</div>

  <script src="vue.js"></script>
</body>

</html>