<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <link rel="stylesheet" href="ac02.css">

  <title>AC02</title>
</head>

<body>
<div id="app">
  <div class="row">
    <div class="col-md-3">
      <h1 class='text-default'><span>Afegir comentari</span> <em class="text-light">(no superior a 140 caracters)</em></h1>
      <textarea cols="100" class="form-control" v-on:keyup="countdown" v-model="message" placeholder=""></textarea>
      <p class='text-right text-small' v-bind:class="{'text-danger': hasError }">{{remainingCount}}</p>
    </div>
  </div>
<div class="">

  <button class="btn" :disabled="hasError">Enviar</button>
</div>

</div>
  <script src="ac02.js"></script>
</body>

</html>